
  {%  if(error) %}

  {{ error }}

  {% endif %}

  <form action="backend.php" name="categoriaForm" id="categoriaForm" method="post">
    <input type="hidden" name="controller" value="CategoriaController"/>
    <input type="hidden" name="action" value="store"/>

    <h2>Crear nuevo categoria</h2>

    <label for="name">Nueva Categoria</label>
    <input type="text" name="categoria" id="categoria" placeholder="Categoria:">


    <input type="submit" name="btn" id="btn" value="registrar">

  </form>

