<h2>AUTORES</h2>
<ul> 
  {% for autor in autores %}
  <li><a href="index.php?controller=AutorController&action=show&id={{ autor.id }}"> {{ autor.nombre }}, {{ autor.apellido }}</a></li>
  {% endfor %}
</ul>

<ul>
  <li><a href="index.php?controller=AutorController&action=create">Agregar un nuevo Autor</a></li>
</ul>
