
<!DOCTYPE HTML>
<html>
	<head>
    <link rel="stylesheet" type="text/css" href="../../assets/css/base.css">
	</head>
	<body>
    <h2>{{ libro.titulo }} </h2>
    <h3> Descripcion</h3>
    <p>{{ libro.descripcion }}</p>
    <li><a href="index.php?controller=LibroController&action=reserve&id={{libro.id}}"> Reservar libro </a></li>
	</body>
</html>
