* {
  margin:0;
  padding:0;
}

.nav_home {
  text-align:left;
}
header nav {
  background:#528FD5;
  overflow:hidden;
}

header nav ul {
  list-style:none;
}

header nav ul li {
  float:right;
}

header nav ul li a{
  padding:6px 15px;
  display:block;
  color:#FFF;
  text-decoration:none;
}

header nav ul li a:hover{
  display: inline-block;
  background:#75ACEC;
}

body {
  background-color:white;
}


header, .main, footer {
  width:90%;
  max-width:2000px;
  margin:20px auto;
}

.logotipo {
    background:lightblue;
    text-align: center;
}


footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0px;
}


/*
 * Lo dejo como ejemplos
 *
    header nav {
      background:#528FD5;
      overflow:hidden;
    }

    header nav ul {
      list-style:none;
    }

    header nav ul li {
      float:right;
    }

    header nav ul li a{
      padding:6px 15px;
      display:block;
      color:#FFF;
      text-decoration:none;
    }

    header nav ul li a:hover{
      background:#75ACEC;
    }
*/
